.DS_Store
.Rproj.user
.Rhistory*
Data/BirdLife_range_maps/
Data/db_pass.txt
Data/MAPS_obs/
Data/Nestwatch/
Data/Processed
Data/Traits
Data/Raw
Data/MAPS-age-filled.rds
/Figures
/Resources/Stan_resources/Presentations
/Resources/Papers_texts/Hierarchical_modeling_and_analysis_for_spatial_data.pdf
/Papers/
Data/BBL/
